name: Release Helm Charts

on:
  push:
    branches:
      - flowable-helm

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.4.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@c25b74a986eb925b398320414b576227f375f946 # v1.2.1
        with:
          charts_dir: k8s/flowable
          charts_repo_url: https://flowable.github.io/helm/
        env:
          CR_OWNER: flowable
          CR_GIT_REPO: flowable.github.io
          CR_PACKAGE_PATH: helm
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
