name: Flowable Windows Build

on:
  push:
    branches:
      - main

env:
  MAVEN_ARGS: >-
    -B -V --no-transfer-progress
    -D http.keepAlive=false -D maven.wagon.http.pool=false -D maven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  windows:
    name: 'Windows'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Set up JDK 17'
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Cache Maven Repository
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Install
        # Need to do install first in order for the OSGi tests to work
        run: ./mvnw install %MAVEN_ARGS% -D skipTests=true -D maven.javadoc.skip=true
      - name: Test
        run: ./mvnw verify -P distro,errorLogging %MAVEN_ARGS% -D maven.test.redirectTestOutputToFile=false
